@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif
}

img {
  max-width: 100%;
  display: block
}

ul {
  list-style: none
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px
}

body {
  background-color: #000
}

html::-webkit-scrollbar {
  width: 0
}